# dbt
target/
dbt_packages/
logs/

# Python
venv/
__pycache__/
*.pyc

# Credentials — IMPORTANT
*.json
dbt-runner-key.json

# Terraform
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/tfplan